body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#PageTitle {
    text-align: center;
}

#CalculatorContent {
    background-color: white;
    margin-left:35%;
    margin-right: 35%;
    padding: 1rem;

    border-radius: 0.2rem;
    box-shadow: 0 2px 4px 0 black;
}

.text-center {
    text-align: center;
}